<nav>

    <div class ="logo">

      <h4>The nav</h4>

    </div>

    <ul class="nav-links">
        <li>
             <a routerLink="">Home1</a></li>
        <li>
            <a routerLink="">Home2</a></li>
        <li>
            <a routerLink="">Home3</a>
        </li>

        <li> 
            <a routerLink="">Home4</a>
        </li>

    </ul>

    <div class="menu">

        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>

    </div>

</nav>