<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="slides">
  <div class="slide">
    
      <div class="pic pic1"></div>
      <div class="description description1">
        <p>
          LearnVerse va bien au-delà d'enseigner simplement les tables de multiplication et la compréhension des fractions à vos enfants. Son objectif premier est de les immerger dans le plaisir de la découverte et de l'apprentissage. En tant que plateforme ludique, LearnVerse incite les enfants à s'engager dans l'apprentissage tout en s'amusant. Contrairement aux méthodes conventionnelles comme les manuels scolaires et les exercices traditionnels, LearnVerse propose une variété de défis divertissants qui permettent aux enfants de maîtriser les concepts essentiels de manière engageante.</p>
      </div>
      <div class="ixl-grn-divider">
          <div class="ixl-grn-divider-left-gradient"></div>
          <div class="ixl-grn-divider-right-gradient"></div>
      </div>
      <div class="pic pic2"></div>
      <div class="description description2"><h1>Guidés par des défis stimulants</h1><br><p>Les récompenses et les trésors dissimulés au sein de LearnVerse métamorphosent l'apprentissage en une authentique recherche de savoir et de compétences. De nouveaux défis se dévoilent progressivement à vos enfants à mesure de leurs avancées. En visualisant leurs objectifs à atteindre pour relever avec succès leur prochaine épreuve, ils sont animés d'une motivation constante pour persévérer dans leurs efforts.</p></div>
      <div class="ixl-grn-divider">
        <div class="ixl-grn-divider-left-gradient"></div>
        <div class="ixl-grn-divider-right-gradient"></div>
    </div>
  </div>
  <div class="slide">
      <div class="pic pic3"></div>
      
        <div class="description description3"> <h1>Dans le but de motiver les enfants</h1><p>LearnVerse attribue des centaines de récompenses virtuelles qu'ils peuvent rassembler et utiliser pour personnaliser leurs avatars. Chaque niveau offre son propre environnement de jeu à thème, renfermant des récompenses cachées à dévoiler. L'accomplissement des exercices mathématiques rappelle l'excitation d'une immense chasse au trésor, où chaque réponse correcte fait croître leur score.</p></div>
      <div class="ixl-grn-divider">
          <div class="ixl-grn-divider-left-gradient"></div>
          <div class="ixl-grn-divider-right-gradient"></div>
      </div>
      <div class="pic pic4"></div>
      <div class="description description4"><h1>En raison de leurs avancées et de leurs succès</h1><p>Vos enfants se voient décerner des certificats d'excellence qui viennent saluer leurs déterminations et leurs progrès. Vous pouvez les imprimer et les exposer avec fierté sur un mur ou sur le réfrigérateur, créant ainsi une source d'encouragement visuel. Cette démarche renforcera leur estime d'eux-mêmes et les incitera à persévérer dans l'acquisition de nouvelles connaissances.</p></div>
  </div>
</div>
