<mat-toolbar color="primary">
  <mat-toolbar-row #toolbarRow> 
    <span>
      <img src="./../../assets/photos/spiral.png">
      &nbsp;</span>
      <a
        mat-button
   >
   <div class="links">
    <span class="nav-link" routerLink="">Subjects</span>
    <span class="nav-link" routerLink="">classes</span>
    <span class="nav-link" routerLink="">Rewards</span>
    <span class="nav-link" routerLink="">Adavantages</span>
    <span class="nav-link" routerLink="">ProgressTracking</span>
    <span class="nav-link" routerLink="/signin">Signin</span>
    <span class="nav-link" routerLink="/signup">Signup</span>

</div>


  </a>
  </mat-toolbar-row>
</mat-toolbar>
