@use "@angular/material" as mat;
@include mat.core();

// Define the base green and light colors
$light-color: #ffffff;
$green: rgb(90, 190, 55);

a.mat-button {
  color: whitesmoke;
  background-color: $green;
}

.mat-toolbar.mat-primary {
  background-color: $green;
}

.mat-toolbar-row span {
  color: whitesmoke; // Darken the color by 50%
  margin-right: 100px;
  background-color: $green;
}

img {
  height: 50px;
  width: 50px;
}

/* Media query for responsive navigation */
@media screen and (max-width: 800px) {
  .links .nav-link {
    flex-direction: row; // Switch back to horizontal layout on larger screens
    display: flex;
    justify-content: space-between; // Adjust alignment
    align-items: center; // Center items vertically
    padding: 10px;
  }

  .mat-toolbar-row {
    display: flex;
    flex-direction: column; /* Display the elements in a column */
    align-items: center;
  }

  .mat-toolbar-row span {
    margin-right: 0;
    margin-bottom: 10px; /* Add space between elements */
  }
  .links .nav-link {
    margin-left: 10;
    margin-top: 0px;
  }
}
